* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* 图片滚动container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* 下一个和上一个换图片按钮 */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* 指定“下一个”按钮在右边 */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* 当hover时, 加黑色(50%透明)在按钮背景 */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* 字幕 */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* 排列号码(图片) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* 句号/指示器 */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* 淡入淡出动画 */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3.0s;
  animation-name: fade;
  animation-duration: 3.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* 在较小的屏幕，减小文字大小 */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}